// Charset
@charset "utf-8";
$color--primary: #3c6dec;
$color--primary-700: #274697;
$color--primary-200: #7194F1;

$color--secondary: #ffba3a;
$color--secondary-700: #ef9e09;
$color--secondary-200: #FFDFA5 ;

$color--tertiary:   #da3688;
$color--tertiary-700:  #a70155;
$color--tertiary-700:  #e46ca8;

$color--disabled: #BFC3C6;
$color-line-system: #D2d6d9;
$color-success: #8CC152;
$color--error: #DA4453;
$color--warning: #ffba3a;
$color--inverted: #fff;

// **Textos**

//Tamanho do texto
$text--extra-small: 10px;
$text--small: 12px;
$text--medium: 14px;
$text--large: 18px;
$text--extra-large: 22px;

//Peso do texto
$text-weight--extra-small: 300;
$text-weight--small: 400;
$text-weight--medium: 500;
$text-weight--large: 600;
$text-weight--extra-large: 700;

//Cores do texto
$text--primary: #4e4e4e;
$text--secondary: #7E7E7E;
$text--inverted: #fff;

$title--primary: #0A2466;
$title--secondary: #7E7E7E;
$title--inverted: #fff;

//Sombra do texto
$text-shadow: 0 0 0 #353535, 0 0 1px transparent;
$text-shadow--inverted: 0 0 0 #fff, 0 0 1px transparent;

// **Backgrounds**
$background--clean: #fff;
$background--extra-light: #f9f9f9;
$background--light: #f3f4f6;
$background--medium: #eaeaea;
$background--strong: #ACB0B2;
$background--body:  #ebeff3;
$background--primary:  #0A2466;
$background--gradient-primary:  linear-gradient(15deg, #022536 0%, #042d40 100%);
$background--gradient-secondary: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

// **Bordas**
$border--radius: 3px;
$border--small: 1px solid;
$border--medium: 2px solid;
$border--large: 3px solid;

// **Sombras**
$shadow: 2px 2px 20px 2px rgba(0,0,0,.1);
$shadow-focus: 0 0 0 2px;

// **Transições**
$transition: .2s linear;

// **Espaçamento**
$space--extra-small: 2px;
$space--small: 4px;
$space--medium: 8px;
$space--large: 16px;
$space--extra-large: 32px;

//* Z-index *//
$visible: 1;
$more-visible: 2;
$most-visible: 3;

// **Hover**
$hover--inverted: rgb(51, 51, 51);

// Abstracts
@import "abstracts/_mixins";

// Base
@import "base/_reset",
        "base/_media",
        "base/_grid",
        "base/_typography";

// Components
@import "components/_text",
        "components/_button",
        "components/_box",
        "components/_link",
        "components/_link-button",
        "components/_banner",
        "components/_margin",
        "components/_padding",
        "components/_input",
        "components/_align",
        "components/_image",
        "components/_hamburguer",
        "components/_plans",
        "components/_icon",
        "components/_waves",
        "components/_title";

// Layout
@import "layout/_header",
        "layout/_footer",
        "layout/_navbar";

