.footer{
  background-color: $color--primary;

  .title{
    text-align: center;
  }

  .text{
    width: 100%;
    text-align: center;
  }

  .link{
    width: 100%;
    justify-content: center;
  }

  @media #{$tablets} {
    .title{
      text-align: unset;
    }

    .text{
      width: unset;
      text-align: unset;
    }

    .link{
      width: unset;
      justify-content: unset;
    }
  }
}

